fieldset {
  padding: 0 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-group-email {
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;
}

.fa-exclamation {
  color: red;
}

.mat-icon {
  position: absolute;
  font-size: 15px;
  height: 40px;
  width: 40px;
  padding: .35rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

.wizard a {
  background: #5452FF;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  min-width: 150px;
  outline: none;
  padding: 10px 40px 10px;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.avatar-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-right: 50px;
}

.image-container {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.icon-wrapper {
  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}

.icon-wrapper {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: .35rem;
  background-color: #2962FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 150px;
  right: 10px;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transition: all .25s;
    background-color: darken(#2962FF, 15%);
  }

  .icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}

.wizard a:hover {
  cursor: pointer;
  text-decoration: none;
}

/* Adds the cut out on the left side of the tab */
.wizard a:before {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #212121;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

/* Adds the arrow on the right side of the tab */
.wizard a:after {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 21px solid #5452FF;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}

/* Squares the start and end of the tab bar */
.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}

/* Rounds the corners */
.wizard a:first-child {
  -webkit-border-radius: 8px 0 0 0px;
  -moz-border-radius: 8px 0 0 0px;
  border-radius: 8px 0 0 0px;
}

.wizard a:last-child {
  -webkit-border-radius: 0 8px 0px 0;
  -moz-border-radius: 0 8px 0px 0;
  border-radius: 0 8px 0px 0;
}

.wizard .active {
  background: #007ACC;
  color: #fff;
}

/* Adds the right arrow after the tab */
.wizard .active:after {
  border-left-color: #007ACC;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.card {
  max-width: 800px;
  min-height: 350px;
  margin: 20px auto;
  position: relative;
  display: flex;
  overflow: hidden;
  background: var(--background-color, #212121);
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.80), 0 6px 6px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
  padding: 10px;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px
}

.row {
  margin: 20px 0;
}

.alert {
  position: absolute;
  bottom: 200px;
  right: -44px;
  padding: 8px 20px;
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  width: 145%;
}

.close {
  position: absolute;
  top: 7px;
  right: 15px;
  padding: 1px 0px;
  cursor: pointer;
}

input.is-invalid {
  border: 2px solid rgb(233, 57, 57);
  /*  background: #c95353; */
}

input.is-invalid:focus {
  outline: none;
}

input {
  width: 400px;
  height: 40px;
  padding: 0 5px;
  margin-bottom: 25px;
  font-size: 17px;
  border: 1px solid #5452FF;
  color: white;
  background: #5C6664;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  width: 100%;
  padding: 3px 5px;
  font-size: 13px;
  border: 1px solid #5452FF;
  color: white;
  background: #5C6664;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

input.is-invalid {
  border: 2px solid rgb(233, 57, 57);
  /*  background: #c95353; */
}

input.is-invalid:focus {
  outline: none;
}

.invalid-feedback {
  color: rgb(233, 57, 57);
  font-size: 12px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9da3a2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9da3a2;
}

.error {
  margin-top: -20px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9da3a2;
}

.password-save-btn {
  bottom: 5px !important;
  margin-right: 10px !important;
}

.email-save-btn {
  bottom: -232px !important;
  margin-left: 153px !important;
}

.picture-save-btn {
  bottom: 5px !important;
  margin-left: 124px !important;
}







