<header class="showcase">
  <div class="content">
    <img
      src="./assets/img/undraw_movie_night_93wl.svg"
      class="logo"
      alt="MovieFinder"
    />
    <div class="title">Welcome To <span class="mv">MovieShop</span></div>
    <div class="text">
      Discover a vast collection of movies. Unleash your entertainment cravings with our diverse range of products.
    </div>
    <button
      mat-flat-button
      color="accent"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/movies"
    >
      Explore
    </button>
  </div>
</header>

<!-- Services -->
<section class="services">
  <div class="container grid-3 center">
    <div>
      <i class="fas fa-video fa-3x"></i>
      <h3>Movies</h3>
      <p>
        Discover a thousands of movies titles to choose from our website
      </p>
    </div>
    <div>
      <i class="fas fa-film fa-3x"></i>
      <h3>Series</h3>
      <p>
        Our website now supports large number of series!
      </p>
    </div>
    <div>
      <i class="fas fa-laptop fa-3x"></i>
      <h3>Everywhere</h3>
      <p>
        Browse, buy & watch movies directly in our system, no matter in which country you are!
      </p>
    </div>
  </div>
</section>

<!-- About -->
<section class="about bg-light">
  <div class="container">
    <div class="grid-2">
      <div class="center">
        <i class="fas fa-mug-hot fa-10x"></i>
      </div>
      <div>
        <h3>About Us</h3>
        <p>
          At MovieShop, we are passionate about delivering the ultimate movie-watching experience to cinephiles worldwide. Established with a love for storytelling and a commitment to providing a diverse selection of films, we strive to be your go-to destination for all things cinema.
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="center bg-dark">
  <p class="footer-links">
    <a target="_blank"
    >Copyright <i class="fa fa-copyright"></i
    ></a>
    2024 MovieShop
  </p>
</footer>

